<h1>Make your form here</h1>

<form action = "/pirates" method = "POST"
<label for = "pirate[name]">Pirate Name:</label>
<input type = "text" name = "pirate[name]" id = "pirate[name]"
<label for = "pirate[Height]">Pirate Height:</label>
<input type = "text" name = "pirate[Height]" id = "pirate[Height]"
<label for = "pirate[Weight]">Pirate Weight:</label>
<input type = "text" name = "pirate[Weight]"
<input type = "submit">
</form>
