<h1>Make your form here</h1>

<form action = "/pirates" method = "POST"
<label for = "pirate[name]"></label>
Pirate Name: <input type = "text" name = "pirate[name]"
Pirate Height: <input type = "text" name = "pirate[Height]"
Pirate Weight: <input type = "text" name = "pirate[Weight]"
<input type = "submit">
</form>

<form action = "/pirates" method = "POST"
Ship Name: <input type = "text" name = "Ship[name]"
Ship Type: <input type = "text" name = "Ship[type]"
Pirate Weight: <input type = "text" name = "Ship[Booty]"
<input type = "submit">
</form>